/* Define the "system" font family */
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

*
{
    box-sizing: border-box;
    font-family: "system";
    cursor: context-menu;
}

*:focus
{
    outline: none;
}

html
{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
    user-select: none;
    background: url("/assets/images/underlay-lo.jpg") 50% 50%;
    background-attachment: fixed;
    background-size: cover;
}

html,
body
{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-size: 8vw;
    overflow: hidden;
    color: #fff9;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    margin: 0 0 0.125rem 0;
    font-weight: 700;
    line-height: 1;
}

a:link
{
    text-decoration: none;
    color: #0006;
}

a:hover,
a:active,
a:focus
{
    color: #0006;
}

.👽
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.👽::before
{
    content: "";
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    /* background: url("/assets/svg/currency.svg"); */
    background-size: 69px;
    /* z-index: -1; */
    opacity: 0.5;
    pointer-events: none;
}

.🆒
{
    height: 100%;
    overflow-y: scroll;
}

.icon
{
    display: inline-block;
    width: 5vw;
    height: 5vw;
    fill: #000;
}

select
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* border: 1vw solid #f00; */
    font-size: 16px;
    overflow: hidden;
    box-shadow: #0005 1px 1px 0 0, #0005 2px 2px 0 0, #0005 3px 3px 0 0, #0005 4px 4px 0 0, #0005 5px 5px 0 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: monospace;
    padding: 1em;
}

select option
{

}

.video,
video,
.video::after
{
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    height: 100%;
    width: 100%;
}

video
{
  object-fit: cover;
}

.video::after
{
    content: '';
    background: url("/assets/images/overlay.png") 50% 50%;
    background-attachment: fixed;
    background-size: cover;
}