@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"),
       local(".HelveticaNeueDeskInterface-Light"),
       local(".LucidaGrandeUI"),
       local("Ubuntu Light"),
       local("Segoe UI Light"),
       local("Roboto-Light"),
       local("DroidSans"),
       local("Tahoma");
}

*
{
    box-sizing: border-box;
    font-family: "system",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    cursor: context-menu;
}

*:focus
{
    outline: none;
}

html
{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
    user-select: none;
}

html,
body
{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-size: 85%;
    overflow: hidden;
    color: #fff9;
}

h1,
h2,
h3,
h4,
h5,
h6,
p
{
    font-size: 100%;
    margin: 0 0 0.5rem 0;
    font-weight: 700;
    line-height: 1;
}

h1
{
    font-size: 10vw;
}

h2,
h3
{
    font-size: 8vw;
}

h4
{
    font-size: 4vw;
}

a:link
{
    text-decoration: none;
}

a:hover,
a:active,
a:focus
{

}

html,
body,
nav,
select,
video,
.media,
.media::before,
.media::after
{
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    height: 100%;
    width: 100%;
}

.👽
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;
    padding: 2rem;
}

.👽::before
{
    content: "";
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    pointer-events: none;
}

.🆗🆒
{
    height: 100%;
    overflow-y: scroll;
}

.icon
{
    display: inline-block;
    width: 12vmin;
    height: 12vmin;
    fill: #000;
}

.page
{
    position: absolute;
    top: 0; left: 0; right: 0;
}

.page:empty
{
    pointer-events: none;
}

.page > div
{
    min-width: 354px;
    width: 40vw;
    box-shadow: 1px 1px 0 0 #000, 2px 2px 0 0 #000, 3px 3px 0 0 #000, 4px 4px 0 0 #000, 5px 5px 0 0 #000, 6px 6px 0 0 #000;
    margin: 2vh auto;
}

.page .browser-chrome
{
    height: calc(40vw * 0.75);
    min-height: calc(354px * 0.75);
}

.page .browser-content
{
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page:not(:empty) + .clear-page
{
    display: block;
}

.page-description
{
    background: #fff;
    color: #000;
    padding: 2rem;
}

.page-description img
{
    display: block;
    width: 100%;
    height: auto;
    margin: 2rem 0;
    border-radius: 50%;
}

.clear-page
{
    display: none;
    position: fixed;
    z-index: 999;
    background: #000;
    right: 2vh; bottom: 2vh;
    color: #fff;
    border-radius: 50%;
    width: 8vh; height: 8vh;
    border: none;
    cursor: not-allowed;
    text-align: center;
    font-size: 0;
}

.clear-page:active
{
    background: #fff;
}

.clear-page:active > svg
{
    fill: #000;
}

.clear-page > svg
{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    margin: auto;
    fill: #fff;
    height: 2vh;
    pointer-events: none;
}

.work-link
{
    display: inline-block;
    font-size: 1rem;
    line-height: 1;
    padding: 1rem;
    color: #fff;
    background: #000;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
}

.work-link:active,
.work-link:focus
{
    color: #000;
    background: #fff;
}

select
{
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 666;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

video
{
  object-fit: cover;
}

audio
{
    opacity: 0;
}

.input-distance,
.input-datetime
{
    text-align: center;
    -webkit-apperance: none;
    background: none;
    border: none;
    color: #fff;
    z-index: 2;
    width: 100%;
}

.input-distance
{
    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}

.input-datetime
{
    position: fixed;
    top: 0; left: 0;
}

.media
{
    background: url("/assets/images/underlay-lo.jpg") 50% 50%;
    background-attachment: fixed;
    background-size: cover;
}

.media::before
{
    content: '';
    background: url("/assets/svg/currency.svg");
    background-size: 69px;
    z-index: 1;
    opacity: 0.5;
}

.media::after
{
    content: '';
    background: url("/assets/images/overlay.png") 50% 50%;
    background-attachment: fixed;
    background-size: cover;
}

.browser-chrome
{
    position: relative;
    border-top: 2rem solid rgba(230, 230, 230, 0.7);
}

.browser-chrome:before
{
    display: block;
    position: absolute;
    content: '';
    top: -1.25rem; left: 1rem;
    width: 0.5rem; height: 0.5rem;
    border-radius: 50%;
    background-color: #f44;
    box-shadow: 0 0 0 2px #f44, 1.5rem 0 0 2px #9b3, 3rem 0 0 2px #fb5;
}

.browser-content
{
    min-height: 100%;
    min-width: 100%;
}
